@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<EmbeddedContent BaseType="@(typeof(Tab))" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
                <a class="btn btn-danger" href="logoutaction">Log out</a>
            </Authorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if(!user.Identity.IsAuthenticated)
            NavigationManager.NavigateTo("login");
    }
}

