@inherits LayoutComponentBase

<EmbeddedContent BaseType="@(typeof(Tab))" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name! 
                <a href="LogOut">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a class="btn btn-info" href="Login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


