@page "/Login"
@page "/Login/{ReturnUrl}"
@using LandroidWorxApp.BusinessLogic
@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication
@using System.Globalization
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@inject ILsClientWeb LsClientWeb
@inject IConfiguration Configuration
@inject IHttpContextAccessor HostedContext
@inject NavigationManager NavigationManager
@inject HttpClient Http

<Row Class="justify-content-center">
    <Column ColumnSize="ColumnSize.IsAuto">
        <Field>
            <FieldLabel>Username</FieldLabel>
            <TextEdit @bind-Text="Username">
            </TextEdit>
        </Field>
        <Field>
            <FieldLabel>Password</FieldLabel>
            <TextEdit Role="TextRole.Password" @bind-Text="Password">
            </TextEdit>
        </Field>
        <Field>
            <CheckEdit @bind-Checked="RememberMe">Remember me</CheckEdit>
        </Field>

        @*<Button Color="Color.Info" Clicked="LoginUser">Login</Button>*@
        <a class="btn btn-info" href="/loginAction?username=@Username&password=@Password&rememberme=@RememberMe&returnUrl=@ReturnUrl">Login</a>
    </Column>
</Row>

@code {

    [Parameter]
    public string ReturnUrl { get; set; }

    string Username;
    string Password;
    bool RememberMe;

    private async void LoginUser()
    {
        var loginModel = new { Username = Username, Password = Password, RememberMe = RememberMe, ReturnUrl = ReturnUrl };
        await Http.PostJsonAsync(NavigationManager.ToAbsoluteUri("loginAction").ToString(), loginModel);
    }

}
